body {
    padding: 3%;
    background-image: url("../images/colortheory.jpg");
    background-size: auto;
}
h1 {
    font-family: 'Righteous', cursive;
    font-size: 80px;
    color: black;
    text-decoration: underline;
}
p {
    font-family: 'Bevan', cursive;
    font-size: 20px;
}
div.gallery img {
  border: 5px solid black;
  display: inline-flexbox;
  }
  #gifs-view {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(8, auto);
    grid-gap: 3px;
    object-fit: cover;
  }
  label {
      color: black;
      font-family: 'Righteous', cursive;
      font-size: 40px;
  }
  #add-feelings {
      background-color: rgb(134, 22, 116);
      font-family: 'Lemonada', cursive;
      font-size: 20px;
      color: white;
      height: 60px;
      width: 100px;
  }
.feel-btn {
      background-color: rgb(245, 242, 78);
      color: black;
      font-family: 'Bevan', cursive;
      font-size: 20px;
  }
  .feel-btn:hover {
    background-color: rgb(90, 209, 35);
  color: white;
  }
.wrapper {
  border: 10px solid black;
  width: 100%;
}